/*! Place your custom styles here */

.nav-item-custom {
    font-size: 1.257142857142857em;
    line-height: 2.166666666666667em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.btn--primary, li.active>.accordion__title {
    background: #2979ff !important;
    border: none !important;
}

.head-title {
    font-weight: 700;
}

.lead {
    color: #102027 !important;
}

.icon-three {
    width: 20%;
}

.icon-three-2 {
    width: 55%;
}

body {
    color: #212529 !important;
}

.demonstration {
    padding-top: 5%;
}

.demo-box {
    text-align: left;
}

p:not(.lead) {
    font-size: 1.1em !important;
}

.feature-4 p:last-of-type {
    margin-bottom: 0px !important;
}

.scroll-link {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.member-action {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    background: linear-gradient(to right, #3023AE 0%, #664BF1 100%) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.min-height-unset {
  min-height: unset;
}

.feature-4.min-height-unset p {
  min-height: unset;
}

.js-slick-wrapper {
  min-height: 100px;
  width: 100%;
  height: 100%;
}

.js-slick-full-screen-wrapper {
  position: fixed;
  z-index: 1;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  max-height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.js-slick-full-screen-wrapper--inner {
  max-height: 100vw;
  max-width: 100%;
  margin: auto;
}

.js-slick-wrapper .slick-list {
  border-top: 1px solid black;
}

@media (min-width: 1100px) {
  .js-slick-wrapper .slick-list {
    border-top: none;
  }
}

.slick-list >.slick-track {
  display: flex;
}

.slick-list >.slick-track > .slick-slide {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.slick-slide > div {
  margin: auto;
  margin-top:0;
}

.slick-slider {
  min-height: 300px ;
  min-width: 300px ;
}

.slick-slider.slick-initialized > .slick-next:before,
.slick-slider.slick-initialized > .slick-prev:before {
  color: #2979ff;
}

.js-slick-full-screen-wrapper .slick-slider.slick-initialized > .slick-next:before,
.js-slick-full-screen-wrapper .slick-slider.slick-initialized > .slick-prev:before {
  color: white;
}

@media (min-width: 700px) {
  .js-slick-wrapper:not(:first-child) {
    margin-top: 70px; /* make some space for the dots above */
  }
}

@media (min-width: 1100px) {
  .js-slick-wrapper:not(:first-child) {
    margin-top: 100px; /* make some space for the dots above */
  }
}

.carousel-fullscreen__close-button {
  position: absolute;
  right: 10%;
  top: 2%;
  z-index: 2;
}
